@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

.hidden {
    display: none;
}

reaudioplayer>.ui {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3));;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 25px;
}

reaudioplayer>.ui>.upperUI, reaudioplayer>.ui>.lowerUI {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

reaudioplayer>.ui>.upperUI>span {
    font-size: 40px;
}

reaudioplayer>.ui>.lowerUI {
    justify-content: space-between;
}

reaudioplayer>.ui>.lowerUI>div {
    flex: 1;
}

reaudioplayer>.ui>.lowerUI>.ui-wrapper-centre {
    display: flex;
    justify-content: center;
    flex: 2;
    align-items: center;
}

reaudioplayer>.ui>.lowerUI>.ui-wrapper-centre>input {
    width: 100%;
}

reaudioplayer>.ui>.lowerUI>.ui-wrapper-right {
    display: flex;
    justify-content: flex-end;
}

reaudioplayer>.ui>.lowerUI>.ui-wrapper-right>span {
    font-size: 30px;
}

span.material-icons-outlined:hover {
    cursor: pointer;
}

input[type="range"]:hover {
    cursor: pointer;
}

p.note {
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

reaudioplayer>img.cover {
    height: 73px;
    width: 73px;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    top: 30;
    left: 30;
}

reaudioplayer>h4.title, reaudioplayer>h5.artist {
    height: 80px;
    width: 15%;
    z-index: 1;
    position: absolute;
    top: 60;
    left: 110;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

reaudioplayer>h5.artist {
    top: 80;
    font-size: .8rem;
    font-weight: lighter;
    text-transform: none;
}

reaudioplayer>.ui {
    z-index: 0;
}

reaudioplayer>.ui>.upperUI>span, reaudioplayer>.ui>.lowerUI>.ui-wrapper-right>span {
    color: white;
}
